- 자생식물 데이터 병합 json -> df

In [1]:
import json
import glob
import numpy as np
import pandas as pd

output = glob.glob('CR*_*_*.json')
output[1]

'CR002_03_50025.json'

In [2]:
import json
import glob

data = []
for f in glob.glob("CR*_*_*.json"):
    with open(f, encoding="utf-8") as infile:
        data.append(json.load(infile))

In [3]:
n = []
sn = []
pl = []

for i, dt in enumerate(data):
    name = data[i]['plants']['wd_plnt_nm']
    s_name = data[i]['plants']['scientific_nm'][:-7]
    place = data[i]['images']['region_nm']

    n.append(name)
    sn.append(s_name)
    pl.append(place)

In [4]:
df = pd.DataFrame({'이름': n,'학명': sn,'주소': pl})
df

,이름,학명,주소
0,까마귀쪽나무,Litsea japonica (Thunb.) Juss.,한라수목원
1,좁은잎천선과,Ficus erecta var. sieboldii (Miq.) King,제주시 오등동
2,참식나무,Neolitsea sericea (Blume) Koidz.,제주특별자치도 제주시 조천읍
3,메밀,Fagopyrum esculentum Moench,서귀포시 안덕면 서광리
4,구실잣밤나무,Castanopsis sieboldii (Makino) Hatus. ex T. Ya...,만장굴
5,순비기나무,Vitex rotundifolia L. f.,제주특별자치도 제주시 삼양동
6,순비기나무,Vitex rotundifolia L. f.,제주특별자치도 제주시 구좌읍 월정리
7,참가시나무,Quercus salicina Blume,한라수목원
8,황근,Hibiscus hamabo Siebold & Zucc.,한라수목원
9,황근,Hibiscus hamabo Siebold & Zucc.,한라수목원
10,백량금,Ardisia,한라수목원
11,꽝꽝나무,Ilex,한라수목원

In [5]:
df.to_csv('자생식물1.csv')