In [1]:
import numpy as np
import pandas as pd

In [2]:
import glob
import json

output = glob.glob('CR009_02_*.json')
output[1]
# output # 너무 많아..

'CR009_02_50015.json'

In [34]:
import json
import glob

data = []
for f in glob.glob("CR0*_*_*.json"):
    with open(f, encoding="utf-8") as infile:
        data.append(json.load(infile))

# outfile넣으면 X
# with open("CR009_02_*.json",'w', encoding="utf-8") as outfile:
  # json.dump(data, outfile, ensure_ascii=False, indent="\t")

In [25]:
# 이름, 학명, 주소 : wd_plnt_nm, scientific_nm, region_nm
name = data[:3]['plants']['wd_plnt_nm']
s_name = data[:3]['plants']['scientific_nm']
place = data[:3]['images']['region_nm']

name, s_name, place

TypeError: list indices must be integers or slices, not str

In [36]:
sn = []

for i, dt in enumerate(data):
    s_name = data[i]['plants']['scientific_nm']
   
    sn.append(s_name)
sn

['Fagopyrum esculentum Moench, 1794.',
 'Cynanchum wilfordii (Maxim.) Hemsl., 1889.',
 'Vitex rotundifolia L. f., 1781.',
 'Rhododendron weyrichii Maxim., 1871.',
 'Hibiscus hamabo Siebold & Zucc., 1841.',
 'Aster spathulifolius Maxim',
 'Elsholtzia hallasanensis Y.N.Lee, 2000.']

In [40]:
n = []
sn = []
pl = []

for i, dt in enumerate(data):
    name = data[i]['plants']['wd_plnt_nm']
    s_name = data[i]['plants']['scientific_nm']
    place = data[i]['images']['region_nm']

    n.append(name)
    sn.append(s_name)
    pl.append(place)

In [43]:
df = pd.DataFrame({'이름': n,'학명': sn,'주소': pl})
df = df.set_index('이름')
df.to_csv('자생식물.csv')

- 자생식물.csv df에 기후대를 넣어주세요
- 기후대로 그룹화

In [53]:
# 주소처리 선행

In [ ]:
https://www.juso.go.kr/openIndexPage.do
https://www.juso.go.kr/support/AddressMainSearch.do?searchKeyword=%EC%84%A0%EB%8D%95%EC%82%AC&dsgubuntext=&dscity1text=&dscounty1text=&dsemd1text=&dsri1text=&dssan1text=&dsrd_nm1text=

In [ ]:
https://www.google.com/
https://www.google.com/search?q=%EC%A0%9C%EC%A3%BC+%EC%84%A0%EB%8D%95%EC%82%AC&oq=%EC%A0%9C%EC%A3%BC+%EC%84%A0%EB%8D%95%EC%82%AC&aqs=chrome..69i57j46i175i199i512j69i60.1538j0j15&sourceid=chrome&ie=UTF-8

In [44]:
import requests
from urllib.parse import quote
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [46]:
from urllib.parse import quote
with open('road_key_copy.txt') as file: # (필) 자생식물데이터 폴더에서 벗어나면 key 변경
    road_key = f'{file.read()}'

In [47]:
df = pd.read_csv('자생식물.csv')
df

      이름                                          학명               주소
0     메밀          Fagopyrum esculentum Moench, 1794.     서귀포시 안덕면 서광리
1    큰조롱  Cynanchum wilfordii (Maxim.) Hemsl., 1889.           농산물원종장
2  순비기나무             Vitex rotundifolia L. f., 1781.  제주특별자치도 제주시 삼양동
3   참꽃나무        Rhododendron weyrichii Maxim., 1871.       한라생태숲 목련총림
4     황근      Hibiscus hamabo Siebold & Zucc., 1841.            한라수목원
5     해국                  Aster spathulifolius Maxim         첨단입구 교차로
6  한라꽃향유     Elsholtzia hallasanensis Y.N.Lee, 2000.              선덕사

In [52]:
adds = df['주소']
adds

0       서귀포시 안덕면 서광리
1             농산물원종장
2    제주특별자치도 제주시 삼양동
3         한라생태숲 목련총림
4              한라수목원
5           첨단입구 교차로
6                선덕사
Name: 주소, dtype: object

In [ ]:
adds = df['주소']
for i, add in enumerate(adds):

In [ ]:
road_url = 'https://www.juso.go.kr/addrlink/addrLinkApi.do'
params1 = f'confmKey={road_key}&currentPage=1&countPerPage=10'
params2 = f'keyword={quote(input())}&resultType=json'
url = f"{road_url}?{params1}&{params2}"
result = requests.get(url).json()

BJD_code=result['results']['juso'][0]['admCd'] 
BJD_code

In [ ]:
addrr = pd.read_csv('전국.csv', sep=',')  #전국.csv만들기
addrr = pd.DataFrame(addrr)
addrr = addrr[['EMNDN_CD','CLZN_CD']]
addrr.columns = ['읍면동코드','기후대코드']
addrr['읍면동코드'] = int(BJD_code[:-2])
climate_code = addrr['기후대코드'].mode()[0]
climate_code  

# 1) 온대북부, 2)온대중부, 3)온대남부 4) 난대

# if climate_code == 1.0:
#     print('온대북부')
# elif climate_code == 2.0:
#     print('온대중부')
# elif climate_code == 3.0:
#     print('온대남부')
# elif climate_code == 4.0:
#     print('난대')